/*-----------------------------------------------------------------------------
 * Definition of the font faces.
 *---------------------------------------------------------------------------*/

@font-face {
    font-family: header;
    src: url("fonts/Raleway-Thin.ttf");
}

@font-face {
    font-family: navigation;
    src: url("fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: regular;
    src: url("fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: h1;
    src: url("fonts/OpenSans-Bold.ttf");
}

/*-----------------------------------------------------------------------------
 * Styling of the general content
 *---------------------------------------------------------------------------*/

/* make sure the html element fills the entire window */
html {
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
}

/* make sure the body element fills the entire html element */
body {
    width: 100%;
    height: 100%;
    
    margin: 0;
    font-family: regular;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

/* styling for the largest header */
h3 {
    color: skyblue;
    font-family: h1;
    font-weight: normal;
    font-size: 1.5rem;
    margin: 1rem 0rem;
}

figure {
    margin: 0;
}

table > tbody > tr:first-child {
    font-weight: bold;
    font-family: h1;
    text-align: left;
}

td {
    white-space: nowrap;
    word-break: keep-all;
}

/* content */
article {
    background-color: white;
    border: 1px solid rgba(135, 206, 235, 0.6);
    
    margin: 2rem auto;
    
    padding-top: 0.5rem;
    padding-left:  2rem;
    padding-right:  2rem;
    padding-bottom: 2rem;
    
    max-width: 52rem;
    text-align: justify;
    
    box-shadow: 0.2rem 0.2rem 0.2rem lightgray;
    
    overflow-x: auto;
}

@media screen and (max-width: 60rem) {
    article {
        margin: 2rem 2rem;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 90%;
    }
    h1 {
        font-size: 1.5rem;
        text-align: left;
    }
}

@media screen and (max-width: 512px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 384px) {
    html {
        font-size: 70%;
    }
}