/*-----------------------------------------------------------------------------
 * Styles for the header
 *---------------------------------------------------------------------------*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0.5rem;
    font-family: header;
}

#header-profile-picture {
    flex: 0 0 10rem;
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    border: 0.2em solid skyblue;
    box-sizing: border-box;
    margin-right: 1rem;
    background: url("images/profile.jpg") no-repeat;
    background-size: contain;
    box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.8) inset;
}

#header-alias {
    font-size: 5rem;
    padding-right: 1rem;
}

/*-----------------------------------------------------------------------------
 * Styles for the navigation
 *---------------------------------------------------------------------------*/

nav {
    text-align: center;
    background-color: skyblue;
    font-family: header;
    box-shadow: 0rem 0.2rem 0.2rem lightgray;
}

nav > ul {
    margin: 0;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    padding: 1rem 1rem;
    
    list-style: none;
    transition: border-bottom 0.5s ease;
    border-bottom: 0.2rem solid transparent;
}

nav > ul > li:hover{
    border-bottom: 0.2rem solid white;
}

nav > ul > li > a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: navigation;
}
