table {
    border-collapse: collapse;
    border: 1px solid lightgray;
    box-shadow: 0.2rem 0.2rem 0.2rem lightgray;
}

tr {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

td {
    padding: 0.5rem 0.8rem;
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: rgba(135, 206, 235, 0.75);
}

.result {
    
}

.result-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0rem;
}

.result-title {
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1rem;
}

.result-table {
    margin-top: 1rem;
}

.result-date {
    
}